<div class="sidebar" data-background-color="black" data-active-color="danger">

<!--
Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->

  <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0);" class="simple-text">
                Trading Toolbox
            </a>
        </div>

        <ul class="nav">
          <li>
            <i class="fa fa-home"></i>
            <a href="/dashboard">Home</a>
          </li>
          <li>
            <i class="fa fa-line-chart"></i>
            <a href="#">Market</a>
          </li>
          <li>
            <i class="fa fa-newspaper-o"></i>
            <a href="/crypto_news">CryptoNews</a>
          </li>
          <li>
            <i class="fa fa-bell"></i>
            <a href="#">Our Newsletter</a>
          </li>
        </ul>
  </div>
</div>
