<div class="row">
  <div class="col-lg-8">
    <h3>Cryptocurrency News</h3>
  </div>
  <div class="col-lg-4">
    <input class="news-search form-control" value="<%=params[:keyword]%>" type="text" name="keyword" placeholder="Search News" autocomplete="off"/>
  </div>
</div>
<br>
<div class="news-container">
  <%= render partial: "base/news_list", locals: {news: @news, per_row: 4}%>
</div>
