<div class="col-12">
  <div class="row">
    <div class="col-md-12">
      <div class="card-box"> 
      <%= render partial: 'currency_info_table', locals: {currency_info: @currency_info}%> 
      </div>
    </div>
  </div>
</div>
