<div class="row">
  <div class="col-lg-4">
    <div class="card bg-dark text-white newsletter-card">
        <h4>Subscribe Now</h4>
      <div class="newsletter-form-container">
        <form id="subscription-form">
          <div class="form-group">
            <label for="newsletter_name">Name: </label>
            <input type="text" id="newsletter_name" name="name" placeholder="john@doe.com" class="form-control">
          </div>
          <div class="form-group">
            <label for="newsletter_email">Email: </label>
            <input type="email" id="newsletter_email" name="email" placeholder="john@doe.com" class="form-control" >
          </div>
          <input type="submit" value="subscribe" class="btn btn-default btn-success subscribe-button"/>
        </form> 
      </div>
    </div>
  </div>
  <div class="col-lg-8 card newsletter-info-card">
    <div class="row inner-row">
      <div class="col-sm-1">
        <%= image_tag "mail.png", class: "inline-block mail-image" %>
      </div>
      <div class="col-sm-11">
        <h3>Subscribe to Our Newsletter</h3> 
      </div>
    </div>
    <div class="row inner-row">
      <div class="col-sm-8">
        <p class="subscriber-content">
          Subscribe to our newsletter for updates, tips & tricks, predictions and vital info on cryptocurrency Investment.
          Our weekly newsletter contains information that can help you invest in the right currencies at the right time.
          We strictly do not send spam or product advertisments or any content that disturbs the user experience to our subscribers
        </p>
      </div>
      <div class="col-sm-4">
        <%= image_tag "data-visualization.gif", class: 'data-visualization'%>
      </div>
    </div>     
  </div> 
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card blog-intro-container tooltip-block" title="www.sreedevspeaks.com">
      <h5 class="blog-intro">Visit The Creator's Blog</h5>
    </div>  
  </div>
  <div class="col-lg-8 card social-card">
    <div class="row">
      <div class="col-sm-4 social-container text-white">
        <h5 class="social-intro">Keep in touch with us</h5>
      </div>
      <div class="col-sm-1">
        <div class="facebook-icon social-icon" title="Like us on Facebook"></div>
      </div>
      <div class="col-sm-1">
        <div class="twitter-icon social-icon" title="Follow us on Twitter"></div>
      </div>
      <div class="col-sm-1">
        <div class="bitbucket-icon social-icon" title="View Source Code"></div>
      </div>
      <div class="col-sm-1">
        <div class="github-icon social-icon" title="Contribute"></div>
      </div>
      <div class="col-sm-1">
        <div class="linkedin-icon social-icon" title="Career Opportunities"></div>
      </div>
      <div class="col-sm-1">
        <div class="dribbble-icon social-icon" title="View Our Designs"></div>
      </div>
      <div class="col-sm-1">
        <div class="gplus-icon social-icon" title="+1 us on Google+"></div>
      </div> 
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
