@import url('https://fonts.googleapis.com/css?family=Bungee');
@import 'themify-icons';
@import 'bootstrap';
@import 'animate.min';
@import 'paper-dashboard';
@import 'themify-icons';
@import 'base';
@import 'auth';
@import 'select2.min';
@import 'tippy.js/dist/tippy.css';
@import 'toastr';
@import '404';
@import 'datatables';
#toast-container{
  margin: 15px;
}

.permission_denied{
  height: 100%;
  overflow: hidden;
}

.go-back{
  padding: 10px;
  h4{
    color: white;
    a:link, a:visited{
      color: white;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

body:not(.permission_denied){
  background: #2c3e50;
}

