// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #2f3542;
}

.title{
  color: white;
}

.bold{
  font-weight: bolder;
}

.card-box{
  background: white;
}

header{
  margin: 20px;
  padding: 20px;
  h2{
    text-align: center;
    font-family: 'Bungee';
  }
}

.top-box{
  margin: 10px 15px;
}

.topbar-logo{
  width: 50px;
  height: 50px;
}

.top-currency-name{
  text-align: left;
}

.top-currency-value{
  font-size: 18;
}

.red{
  color: #ff6347;
}

.green{
  color: #90cc37;
}

.table-logo{
  width: 20px;
  margin: 0px 10px;
}

.align_right{
  text-align: right;
  margin-left: 10px;
}

.align-left{
  text-align: left;
  margin-right: 10px;
}

.sidebar{
  ul.nav{
    li{
      margin: 10px 0px;
      i{
        margin-right: 5px;
        margin-left: 20px;
      }
      a:link, a:visited{
        position: relative;
        top: 5px;        
      }
    }
  }
}

.sidebar{
  width: 0px !important;
  transition: 0.5s ease;
}

.main-panel{
  width: 100% !important;
  transition: 0.5s ease;
}

.active-sidebar{
  width: 260px !important;
}

.active-main{
  width: calc(100% - 260px) !important;
}

#nav-toggle{
  cursor: pointer;
}

.inline-block{
  display: inline-block !important;
}

.header-brand{
  margin: 0px 20px;
}

.brand-title{
  margin: 0px 5px;
}

.chart-logo{
  width: 40px;
  margin: 0px 10px;
}

.eth-chart-logo{
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

.top-navbar{
  li{
    display: inline-block !important;
    margin: 0px 10px;
  }
}

.notification-card{
  margin-left: -120px;
  margin-top: -5px;
  width: 400px;
  left: -200px;
}

.notification-list{
  .clear_all{
    padding: 10px;
    background: #2c3e50;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
  }
  .clear_all:hover{
    background: #34495e; 
  }
  padding: 0px;
  li{
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 5px;
    .not-icon{
      float: left;
      padding: 5px;
      margin: 5px 25px 5px 20px;
    }
    .not-text{
      float: right;
    }
  }
}

ul.horizontal{
  margin-left: 0px;
  padding: 0px;
  li{
    a:link, a:visited{
      color: black;
      text-decoration: none;
    }
    display: inline-block;
    padding: 20px;
    background: white;
    box-shadow: 0px 5px 0px 0px grey;
  }
  li.active{ 
    a:link, a:visited{
      color: white;
      text-decoration: none;
    }
    background: #e67e22;
    box-shadow: 0px 5px 0px 0px #d35400;
  }
}


.title-block{
  margin: 10px 0px;
}

.pagination-card{
 background: white;
 box-shadow: 2px 2px 5px 5px #eeeeee;
 text-align: center;
 font-size: 16px;
 .previous_page:hover, .next_page:hover{
  color: white;
  background: #D24D57;
 }
 a:link, a:visited, em, span{
  margin: 10px 10px; 
  padding: 5px 10px; 
 }
 a:link, a:visited{
 }
 em{
   
 }
 span{
 }
 em.current{  
   background: #D24D57;
   color: #ffffff;
   border-radius: 20px;
 }
}

.currency-table h3{
  padding: 5px 40px;
}

.news-card{
  img{
    width: 100%;
  }
}

.news-search{
  background: url('search.svg');
  background-color: white;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-origin: content-box; 
  background-position: 340px;
}

.csummary-logo{
  width: 160px; 
  margin: 10px auto;
}

.attribute{
  font-weight: bolder;
}

.value{
  float: right;
}

.no-nots{
  text-align: center;
}

.twitter_img{
 border-radius: 50px; 
}

.float-right{
  float: right !important;
}

.float-left{
  float: left !important;
}

.twitter-card{
  padding: 15px;
}

.retweet-icon{
  width: 20px;
}

.tweet-stat{
  margin: 5px 0px;
  text-align: right;
}

.tweets-list-box{
  &::-webkit-scrollbar{
    width: 0px;
  }
  height: 500px;
  overflow-y: scroll;
}

.search-box{
 margin: 0px 0px 10px 0px; 
}

.currency-item{
  cursor: pointer;
}

.newsletter-card{
  padding: 5px 30px;
}

.subscribe-button{
  width: 100%;
  margin: 10px 0px;
}

.newsletter-info-card{
  padding: 20px;
  background: rgb(27, 27, 27);
  color: white;
}

.mail-image{
  width: 40px;
  padding: 15px 0px;
}

.social-icon{
  height: 50px;
  width: 55px;
  //transition: 0.3s ease;
  cursor: pointer;
}

.facebook-icon{
  background: url("social/social-sprite.png") -215px -45px;
}

.twitter-icon{ 
  background: url("social/social-sprite.png") -335px -45px;
}

.bitbucket-icon{ 
  background: url("social/social-sprite.png") -450px -45px;
}

.github-icon{ 
  background: url("social/social-sprite.png") -505px -45px;
}

.inner-row{
  margin: 0px !important;
}

.subscriber-content{
  font-size: 18px;
}

.linkedin-icon{
  background: url("social/social-sprite.png") -390px -45px;
}

.dribbble-icon{
  background: url("social/social-sprite.png") -705px -45px;
}

.gplus-icon{
  background: url("social/social-sprite.png") -765px -45px;
}

.social-icon-hover{
  background-position-y: 95px;
}

.social-intro{
  margin: 10px 35px;
}

.blog-intro{
  margin: 13px 95px;
  color: white;
}

.blog-intro-container{
  background: #16a085;
  cursor: pointer;
}

.data-visualization{
  width: 100%;
}

.social-container{
  background: rgb(27, 27, 27);
}
