<div class="tabs tabs_default">
  <ul class="horizontal">
    <li><a href="#tab-1">tab1</a></li>
    <li><a href="#tab-2">tab2</a></li>
  </ul>
  <div id="tab-1">
    this is tab1 
  </div>  
  <div id="tab-2">
    this is tab2
  </div>
</div>

<script>
  $('.tabs').tabslet();
</script>

<style>
  .tabs div{
    background: white;
    width: 500px;
    height: 300px;
  }
</style>
